.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    content: "";
    clear: both;
}


.col {
    width: 80%;
    margin: 0 auto;
    clear: both;
}

/*Util*/
.bg-color-grey {
    background-color: lightgray;
}
.text-center {
    text-align: center;
}

/*Media Queries*/
@media all and (min-width: 1199px) {

}
@media all and (min-width: 991px) {


}
@media all and (min-width: 768px) {
    .col {
        width: 25%;
        float: left;
        clear: none;
    }
}
@media all and (max-width: 575px) {

}
